
            <div class=" d-flex justify-content-center container d-flex align-items-center" style="margin-top:80px;">
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title mb-5" style="font-size:30px;">Add Offer</h1>
                    <form class="forms-sample" action="/admin/add-offer" method="post">

                      <div class="col-md-6">
                        <div class="form-group">
                        <label for="exampleInputName1">Offer Name</label>
                        <input type="text" name="offerName" class="form-control" id="exampleInputName1" placeholder="Offer Name" required/>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputName1">Offer Category</label>
                        <input type="text" name="offerCategory" class="form-control" id="exampleInputName1" placeholder="Offer Category" required/>
                      </div>                    

                      <div class="form-group">
                        <label for="exampleInputName1">Offer Percentage</label>
                        <input type="text" name="offerPercentage" class="form-control" id="exampleInputName1" placeholder="Offer Percentage" required/>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputName1">Min Buy</label>
                        <input type="text" name="minBuy" class="form-control" id="exampleInputName1" placeholder="Min buy" required/>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputName1">Offer Cap</label>
                        <input type="text" name="offerCap" class="form-control" id="exampleInputName1" placeholder="Offer Cap" required/>
                      </div>

                       <div class="form-group">
                        <label for="exampleInputName1">Start Date</label>
                        <input type="date" name="startDate" class="form-control" id="exampleInputName1" placeholder="Start Date" required/>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputName1">Expiry Date</label>
                        <input type="date" name="expiryDate" class="form-control" id="exampleInputName1" placeholder="Expiry Date" required/>
                      </div>
                      <button type="submit" class="btn btn-primary me-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            

