<div class=" d-flex justify-content-center container d-flex align-items-center" style="margin-top:80px;">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title mb-5" style="font-size:30px;">Add Product</h1>
        <form class="forms-sample" action="/admin/add-products" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputName1">Product Name</label>
            <input type="text" name="productname" class="form-control" id="exampleInputName1" placeholder="Product Name"
              required />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Brand Name</label>
            <select class="form-select" name="brandname" placeholder="Brand Name" aria-label="Default select example"
              required>
              <option disabled selected>Brand</option>
              <option>TOPSHOP</option>
              <option>MANGO</option>
              <option>ZARA</option>
              <option>Bershka</option>
              <option>asos</option>
              <option>RIVER ISLAND</option>
            </select>
            {{!-- <input type="text" name="brandname" class="form-control" id="exampleInputEmail3"
              placeholder="Brand Name" /> --}}
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label for="exampleInputPassword4">Price</label>
              <input type="number" name="price" class="form-control" id="exampleInputPassword4" placeholder="Price"
                required />
            </div>
            {{!-- <div class="form-group ">
              <label for="exampleInputPassword4">Offer Price</label>
              <input type="number" name="offerprice" class="form-control" id="exampleInputPassword4"
                placeholder="Offer Price" required />
            </div> --}}
            <div class="form-group ">
              <label for="exampleInputPassword4">Offer Percentage</label>
              <input type="number" name="offerpercentage" class="form-control" id="exampleInputPassword4"
                placeholder="Offer Percentage" required />
            </div>
            <div class="form-group ">
              <label for="exampleInputPassword4">Size</label>
              <input type="text" name="size" class="form-control" id="exampleInputPassword4" placeholder="Size"
                required />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputCity1">Category</label>
            <select class="form-select"  onchange="checkCategory(this.value)" name="category" aria-label="Default select example"
              required>
              {{#each categoryList}}
              <option disabled selected>
              <option value="{{this.catagoryname}}">{{this.catagoryname}}
              </option>
              </option>
              {{/each}}
            </select>
          </div>



          <div class="form-group">
            <label for="exampleInputCity1">Sub-Category</label>
            <select class="form-select" name="subCategory" name="subCategory" id="subCategory"
              aria-label="Default select example" required>

              {{#if categoryList}}
              <option disabled selected></option>
              {{#each categoryList.[0].subCatagory}}
              <option>{{this}}
              </option>
              {{/each}}
              </option>
              {{/if}}

            </select>
          </div>
          {{!-- <input type="text" name="category" class="form-control" id="exampleInputCity1" placeholder="Category" />
          --}}

          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <input class="form-control" name="description" id="exampleTextarea1" rows="4" name="description"
              required></input>
          </div>

          <div class="mb-5">
            <label for="formFile" class="form-label">Image upload</label>
            <input class="form-control" name="images" type="file" id="formFile" required multiple />
          </div>
          <button type="submit" class="btn btn-primary me-2"> Submit </button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function checkCategory(catagory){
  //  console.log(catagory)
     $.ajax({
            url:'/checkCategoryqw',
            data:{catagory:catagory},
            method:'post',
            success:(response)=>{
             alert('hgjgh');           
            }
        })
  }
</script>